In [1]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import glob
import numpy as np
pd.set_option('display.max_rows', None)
import zipfile
import os
import shutil

In [2]:
scenario_name = "hack fixed, twm, fixed long trips"
path_to_zip_file = '/home/ai6644/Malmo/Tools/Simulation results/Lolland/tw around departure, stretched, with transfers/'+\
                   scenario_name+'/log.zip'

In [3]:
day_sec = int(86400)
day_h = int(24)

In [4]:
with zipfile.ZipFile(path_to_zip_file, 'r') as zip_ref:
    try:
        shutil.rmtree('data/zip')
    except (FileNotFoundError, OSError) as e:
        pass
    os.mkdir('data/zip')
    zip_ref.extractall('data/zip')
path = 'data/zip/' + os.listdir('data/zip')[0] + '/vehicle_logs'

In [5]:
# all_files = glob.glob(path + "/vehicle_occupancy_*")
all_files = glob.glob("data/zip/*/vehicle_logs/vehicle_occupancy_*")
all_files.sort()

occupancies = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    df['time'] = df.time.astype(int)
    df = df.drop_duplicates(keep='last', subset='time')
    occupancies.append(df)

merged_time = pd.concat(occupancies)['time'].sort_values().drop_duplicates()

# for df in occupancies:
#     df['time'] = df.time.astype(int).drop_duplicates()
#     df.set_index('time', inplace=True)
    
# merged_df = pd.concat(occupancies, axis=1).fillna(method='ffill')

In [6]:
n_cars = len(all_files)
# n_cars = 25

In [7]:
all_files = glob.glob("data/zip/*/vehicle_logs/vehicle_status_*")
all_files.sort()

statuses = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0, delimiter=',', quotechar='|', quoting=csv.QUOTE_MINIMAL)
    df.columns = ['time', 'status']
    df['time'] = df.time.astype(int)
    df = df.drop_duplicates(keep='last', subset='time')
    statuses.append(df)

In [8]:
occupancies[1]

      time  #passengers
0        0            0
1    18212            0
2    18237            0
3    18467            0
4    18512            0
5    18785            0
6    18905            0
8    18948            0
10   19776            0
11   19850            1
12   19910            1
13   20167            1
14   20602            2
15   20662            2
16   21176            2
17   21191            2
18   21251            1
19   21491            1
20   21551            0
21   22243            1
22   22303            1
23   22696            1
24   22958            1
25   22962            1
26   23059            1
27   23119            0
28   23230            1
29   23290            1
30   23801            2
32   23861            3
33   23921            3
34   23950            4
35   24010            4
36   24338            4
37   24560            4
39   24620            3
41   24680            2
42   24740            1
43   24904            1
44   24993            1
45   25027            1
46   25131            1
47   25595            1
48   25655            0
49   26535            1
50   26595            1
51   27376            2
52   27436            2
53   27597            2
54   27657            1
55   27659            1
56   27719            0
57   27889            1
59   27949            2
60   28009            2
61   28049            3
62   28109            3
63   28209            3
64   28275            3
65   28335            2
66   28718            2
67   28724            2
68   28784            1
69   29099            1
70   29159            0
71   29206            1
72   29266            1
73   29294            1
74   29536            2
75   29596            2
76   29798            2
77   29858            1
78   29880            2
79   29940            2
80   29956            3
82   30016            4
83   30076            4
84   30132            4
85   30192            3
86   30428            3
87   30488            2
88   31249            2
89   31510            2
90   31512            2
91   31570            1
92   31891            1
93   31951            0
94   32161            1
95   32221            1
96   32347            1
97   32967            2
98   33027            2
99   33067            2
100  33127            1
101  33925            1
102  33939            1
103  33985            0
104  34090            1
106  34150            2
107  34210            2
108  34441            3
109  34501            3
110  34573            3
111  34640            4
112  34700            4
113  35077            4
114  35137            3
115  35164            3
116  35224            2
117  35417            2
118  35477            1
119  35647            1
120  35707            0
121  35769            0
122  35914            1
123  35974            1
124  36454            1
125  36456            2
126  36510            2
127  36516            2
128  36703            2
129  36897            2
130  36903            2
131  36963            1
132  37030            1
133  37077            1
134  37111            1
135  37137            0
136  37340            1
137  37400            1
138  37779            2
139  37839            2
140  38071            2
142  38131            1
143  38191            0
144  39557            0
145  39620            0
146  39699            1
148  39759            2
149  39819            2
150  39884            2
151  39944            1
152  40442            1
153  40502            0
154  40689            0
155  40802            1
156  40862            1
157  41117            1
158  41406            1
159  41493            1
160  41695            2
162  41755            3
163  41815            3
164  41905            3
165  42399            3
166  42428            3
168  42459            2
169  42519            1
170  43372            1
171  43432            0
172  43644            0
173  43679            0
174  44011            0
175  44080            1
176  44140            1
177  44200            2
178  44260            2
179  44409            2
180  44469            1
181  44521            1
182  44557            2
184  44617            3
186  44677            4
188  44737            5
189  44797            5
190  44850            5
191  45048            5
192  45169            5
193  45229            4
194  45270            4
195  45547            4
196  45607            3
197  45709            3
198  45855            3
199  45860            3
200  45920            2
201  46040            2
202  46100            1
203  46475            1
205  46535            1
206  46595            1
207  46702            1
208  47025            2
210  47085            3
211  47145            3
212  47260            3
213  47567            3
214  47627            2
215  47737            2
216  47797            1
217  47813            2
218  47873            2
219  47893            2
220  47953            1
221  48418            1
222  48495            1
223  48507            1
224  48555            0
225  49078            1
226  49138            1
227  49928            2
229  49988            3
231  50048            4
233  50108            5
234  50168            5
235  50204            6
236  50264            6
237  50354            7
238  50370            7
239  50414            7
240  50456            7
241  50537            7
242  50621            7
243  50630            7
244  50690            6
245  50752            6
246  50812            5
247  50843            5
248  50903            4
249  50994            4
251  51054            3
252  51106            3
253  51114            2
254  51142            2
255  51202            1
256  51227            2
257  51287            2
258  51318            2
259  51474            3
260  51534            3
261  51961            3
262  52021            2
263  52406            2
264  52469            2
266  52529            1
267  52589            0
268  52990            1
269  53050            1
270  53057            1
271  53432            1
272  53475            2
274  53535            3
276  53595            4
277  53655            4
278  53756            4
279  53804            4
280  54104            4
281  54444            4
283  54504            3
284  54564            2
285  54720            2
286  54828            3
287  54888            3
288  55094            3
289  55123            3
290  55183            2
291  55184            2
292  55243            1
293  55251            2
294  55311            2
295  55365            2
297  55425            2
298  55485            2
299  55700            2
300  55760            1
301  55886            2
302  55946            2
303  55997            2
304  56061            3
305  56121            3
306  56413            3
307  56473            2
308  56681            2
309  56714            2
310  56774            1
311  56905            2
312  56965            2
313  57099            2
314  57159            1
315  57978            2
317  58038            3
318  58098            3
319  58326            3
320  58386            2
321  58519            2
322  58579            1
323  58690            2
324  58750            2
325  58920            2
326  58969            3
327  59029            3
328  59053            3
329  59104            3
330  59164            2
331  59407            2
332  59422            2
333  59482            1
334  59568            1
335  59897            2
336  59957            2
337  60010            2
338  60070            1
339  60106            1
340  60133            2
341  60193            2
342  60221            3
343  60281            3
344  60294            4
345  60354            4
346  60369            4
347  60645            4
348  60658            4
349  60705            3
350  61001            3
351  61400            3
353  61460            2
354  61520            1
355  61619            2
356  61677            2
357  61679            2
358  61869            2
359  61929            1
360  61985            1
361  62752            2
362  62812            2
363  62919            2
365  62979            2
366  63039            2
367  63055            3
368  63115            3
369  63128            3
370  63287            3
371  63347            2
372  64153            3
373  64213            3
374  64308            4
376  64368            4
378  64428            3
379  64488            2
380  65192            2
381  65198            2
382  65252            1
383  65507            2
384  65567            2
385  65773            3
387  65833            3
388  65893            2
389  65959            2
390  66107            2
391  66110            2
392  66170            1
393  66296            2
394  66356            2
395  66550            2
396  66610            1
397  66854            2
398  66914            2
399  66927            2
400  66987            1
401  67002            1
402  67058            2
403  67118            2
404  67453            2
405  67966            2
406  68026            1
407  69054            2
409  69114            2
410  69174            1
411  69736            2
412  69796            2
413  69888            2
415  69948            2
416  70008            2
417  70810            2
418  71036            2
419  71096            1
420  71192            1
421  71252            0
422  72579            1
423  72639            1
424  72946            1
425  73006            0
426  73860            1
427  73920            1
428  74716            1
429  74776            0
430  75573            0

In [9]:
times = []
for vid, status in enumerate(statuses):
    t_idle = 0
    t_wait = 0
    t_drive = 0
    t_return = 0
    t_stop = 0
    started = False # not used, but we may use it to add empty waiting time to idle time
    for (_, st1), (_,st2) in zip(status.iterrows(), status.iloc[1:].iterrows()):

        t = st2.time - st1.time

        # departed
        if st1.status == 6 and st2.status != 6:
            started = True
        # staying at depot
        if st1.status == 6:
            t_idle += t
        # arrived to depot
        if st1.status != 6 and st2.status == 6:
            started = False

        if st1.status == 4:
            t_wait += t

        # driving
        if st1.status == 3:
            t_drive += t

        # returning
        if st1.status == 5:
            t_return += t

        #on a stop
        if st1.status in (0,2):
            t_stop +=t

    if len(status) == 1:
        t_idle = 86400
    else:
        t_idle += 86400 - st2.time

    if (t_idle + t_wait + t_drive + t_return + t_stop != 86400):
        print('somehing is wrong!')
        break

    times.append(pd.DataFrame([t_idle, t_wait, t_drive, t_return, t_stop], index=['idle', 'wait', 'drive', 'return', 'stop'], columns=[vid]).T)

In [10]:
vehicle_times = pd.concat(times)
vehicle_times

     idle  wait  drive  return   stop
0   56537  3018  21272     653   4920
1   29039  1001  45364     797  10199
2   53825   251  26105      99   6120
3   43750  1736  32866       8   8040
4   63904  1873  15646    1617   3360
5   66274  2010  14491      25   3600
6   74398    60  10127      15   1800
7   59616   517  21174     653   4440
8   76155   807   7635       3   1800
9   48047  1016  29727    1012   6598
10  46999   647  30903    1012   6839
11  75853  1481   7614      12   1440
12  36282  1139  39366      13   9600
13  63539   387  18341    1253   2880
14  61199  2025  19665     871   2640
15  59390   190  22373       7   4440
16  47965   336  31610       9   6480
17  71131  1969  10769      12   2519
18  76687  1668   7040      45    960
19  45356  2945  31006      13   7080
20  46505  1037  30988     670   7200
21  86400     0      0       0      0
22  38464  2171  38023     782   6960
23  55701     0  24819       0   5880
24  48475  2682  28475     168   6600
25  46425  1549  32892      15   5519
26  54518  1053  26266       3   4560
27  46285    96  32347     592   7080
28  78852  1569   5012       7    960
29  40726  1754  35168     592   8160

In [11]:
vehicle_times = vehicle_times[vehicle_times.idle != 86400]
vehicle_times

     idle  wait  drive  return   stop
0   56537  3018  21272     653   4920
1   29039  1001  45364     797  10199
2   53825   251  26105      99   6120
3   43750  1736  32866       8   8040
4   63904  1873  15646    1617   3360
5   66274  2010  14491      25   3600
6   74398    60  10127      15   1800
7   59616   517  21174     653   4440
8   76155   807   7635       3   1800
9   48047  1016  29727    1012   6598
10  46999   647  30903    1012   6839
11  75853  1481   7614      12   1440
12  36282  1139  39366      13   9600
13  63539   387  18341    1253   2880
14  61199  2025  19665     871   2640
15  59390   190  22373       7   4440
16  47965   336  31610       9   6480
17  71131  1969  10769      12   2519
18  76687  1668   7040      45    960
19  45356  2945  31006      13   7080
20  46505  1037  30988     670   7200
22  38464  2171  38023     782   6960
23  55701     0  24819       0   5880
24  48475  2682  28475     168   6600
25  46425  1549  32892      15   5519
26  54518  1053  26266       3   4560
27  46285    96  32347     592   7080
28  78852  1569   5012       7    960
29  40726  1754  35168     592   8160

In [12]:
len(vehicle_times)

29

In [13]:
vehicle_times.sum()

idle      1611897
wait        36987
drive      697084
return      10958
stop       148674
dtype: int64

# Cost for DRT (assuming availability between 5 and 20 - 9h)

In [14]:
(vehicle_times.drive + vehicle_times.stop + vehicle_times['return']).sum()*(367/60/60) + \
    ((vehicle_times.idle + vehicle_times.wait).sum() - len(vehicle_times)*7*60*60)*(367/60/60)*0.7

152852.93099999998

In [15]:
# waiting time is full prised
(vehicle_times.drive + vehicle_times.stop + vehicle_times['return'] + vehicle_times.wait).sum()*(367/60/60) + \
    ((vehicle_times.idle).sum() - len(vehicle_times)*9*60*60)*(367/60/60)*0.7

139083.91674999997

In [16]:
cost = 440
(vehicle_times.drive + vehicle_times.stop + vehicle_times['return'] + vehicle_times.wait).sum()*(cost/60/60) + \
    ((vehicle_times.idle).sum() - len(vehicle_times)*9*60*60)*(cost/60/60)*0.7

166749.11

In [17]:
cost = 800
(vehicle_times.drive + vehicle_times.stop + vehicle_times['return'] + vehicle_times.wait).sum()*(cost/60/60)

198600.6666666667

# Cost for busses

In [18]:
REQUIRES UPDATING
# +1h to ride to depot
# 715: 2 buses from 5.50-19.20 and 6.15-19.20 with 4+5 breaks of 30 minutes and two of an hour
l715 = 1200*(19.3-5.8+1 + 19-6+1 -9*0.5-2) + 1200*0.7*(9*0.5 + 2)
# 716: 2 buses from 5.40-17.50 and 6.20-18.50 (with 4 break of 50 minutes) and one more 6.30-8.50 + 18.48-19.50
l716 = 1200*(17.8-5.66+1 + 18.83-6.33+1 - 2*4) + 1200*0.7*4*2 + 1200*(3.3+2)
# 718: 1 bus full time 5.43-18.09
l718 = 1200*(18.16-5.72 + 1)
# 778: 1 bus 14.15-16.30 + 6.55-7.45
l788 = 1200*(2+1 + 1+1)
# 791: 1 bus 14-17 + 7-8
l791 = 1200*(17-14 + 1 + 1+1)
# line 774: 1 bus 6.25-7.55 + 13.00+16.15
l774 = 1200*(1.3+1 + 3.2+1)
# line 772: 1 bus 6.35-7.35 + 13.45-16.35
l772 = 1200*(1+1 + 3+1)
# line 792: 1 bus 7-7.35 + 14.20-17.20
l792 = 1200*(0.5+1 + 3+1)
# line 780: 2 buses 6-20 with 3.40 hours of a break
l780 = 1200*((20-6 + 1)*2 - 3.6) + 1200*0.7*3.6
# line 719: 2 busses 6-19 and 7-19 7.40 pause + 1 trip 7.10-7.40
l719 = 1200*(19-6+1 + 19-7+1 -7.6 +0.5+1) + 1200*0.7*7.6
# line 711: one bus 6.50-17.44
l711 = 1200*(17-6 + 1)
# line 714: 1 bus 7.50-17.13 with 9*0.37 pause
l714 = 1200*(10.2 - 9*0.55 + 1) + 1200*0.7*9*0.55
# line 713: 1 bus 7.20-16.40 with 9*0.40 pause
l713 = 1200*(9.3 - 9*0.6 + 1) + 1200*0.7*9*0.6
# line 771: 6.30-7.30 + 13.45-16.35 (2x0.50 pause)
l771 = 1200*(1+1 + 2.8+1 - 1.6) + 1200*0.7*1.6 
# line 773: 6.40-7.32 + 13.40-16.30 (2x0.50 pause)
l773 = 1200*(0.85+1 + 2.8+1 - 1.6) + 1200*0.7*1.6
# line 778: 6.55-7.45 + 14.15-16.30
l778 = 1200*(0.83+1 + 2.25 + 1)

SyntaxError: invalid syntax (<ipython-input-18-540e15537d6b>, line 1)

In [19]:
# No extra time added
# 715: 2 buses from 5.50-19.20 and 6.15-19.20 with 4+5 breaks of 30 minutes and two of an hour
l715 = 1200*(19.3-5.8 + 19-6 -9*0.5-2) + 1200*0.7*(9*0.5 + 2)
# 716: 2 buses from 5.40-17.50 and 6.20-18.50 (with 4 break of 50 minutes) and one more 6.30-8.50 + 18.48-19.50
l716 = 1200*(17.8-5.66 + 18.83-6.33 - 2*4) + 1200*0.7*4*2 + 1200*(3.3+2)
# 718: 1 bus full time 5.43-18.09
l718 = 1200*(18.16-5.72)
# 778: 1 bus 14.15-16.30 + 6.55-7.45
l788 = 1200*(2 + 1)
# 791: 1 bus 14-17 + 7-8
l791 = 1200*(17-14  + 1)
# line 774: 1 bus 6.25-7.55 + 13.00+16.15
l774 = 1200*(1.3 + 3.2)
# line 772: 1 bus 6.35-7.35 + 13.45-16.35
l772 = 1200*(1 + 3)
# line 792: 1 bus 7-7.35 + 14.20-17.20
l792 = 1200*(0.5 + 3)
# line 780: 2 buses 6-20 with 3.40 hours of a break
l780 = 1200*((20-6)*2 - 3.6) + 1200*0.7*3.6
# line 719: 2 busses 6-19 and 7-19 7.40 pause + 1 trip 7.10-7.40
l719 = 1200*(19-6 + 19-7 -7.6 +0.5) + 1200*0.7*7.6
# line 711: one bus 6.50-17.44
l711 = 1200*(17-6)
# line 714: 1 bus 7.50-17.13 with 9*0.37 pause
l714 = 1200*(10.2 - 9*0.55) + 1200*0.7*9*0.55
# line 713: 1 bus 7.20-16.40 with 9*0.40 pause
l713 = 1200*(9.3 - 9*0.6 ) + 1200*0.7*9*0.6
# line 771: 6.30-7.30 + 13.45-16.35 (2x0.50 pause)
l771 = 1200*(1 + 2.8 - 1.6) + 1200*0.7*1.6 
# line 773: 6.40-7.32 + 13.40-16.30 (2x0.50 pause)
l773 = 1200*(0.85 + 2.8 - 1.6) + 1200*0.7*1.6
# line 778: 6.55-7.45 + 14.15-16.30
l778 = 1200*(0.83 + 2.25)
# line 717: 1 bus 6-9 + 13-16
l717 = 1200*(3 + 3) + 1200*(4*0.7)

In [20]:
l719 + l711 + l713 + l714 + l715 + l716 + l718 + l771 + l772 + l773 + l774 + l778 + l780 + l791 + l792

201162.0

In [21]:
# no 771 and 772 and 780
l719 + l711 + l713 + l714 + l715 + l716*0.5 + l718 + l773 + l774 + l778 + l791 + l792 + l780*0.5 + l717*0.5

164982.0

## Service hours

In [47]:

# 715: 2 buses from 5.50-19.20 and 6.15-19.20 with 4+5 breaks of 30 minutes and two of an hour
l715 = (19.3-5.8 + 19-6 -9*0.5-2) + (9*0.5 + 2)
# 716: 2 buses from 5.40-17.50 and 6.20-18.50 (with 4 break of 50 minutes) and one more 6.30-8.50 + 18.48-19.50
l716 = (17.8-5.66 + 18.83-6.33 - 2*4) + 4*2 + (3.3+2)
# 718: 1 bus full time 5.43-18.09
l718 = (18.16-5.72)
# 778: 1 bus 14.15-16.30 + 6.55-7.45
l788 = (2 + 1)
# 791: 1 bus 14-17 + 7-8
l791 = (17-14  + 1)
# line 774: 1 bus 6.25-7.55 + 13.00+16.15
l774 = (1.3 + 3.2)
# line 772: 1 bus 6.35-7.35 + 13.45-16.35
l772 = (1 + 3)
# line 792: 1 bus 7-7.35 + 14.20-17.20
l792 = (0.5 + 3)
# line 780: 2 buses 6-20 with 3.40 hours of a break
l780 = ((20-6)*2 - 3.6) + 3.6
# line 719: 2 busses 6-19 and 7-19 7.40 pause + 1 trip 7.10-7.40
l719 = (19-6 + 19-7 -7.6 +0.5) + 7.6
# line 711: one bus 6.50-17.44
l711 = (17-6)
# line 714: 1 bus 7.50-17.13 with 9*0.37 pause
l714 = (10.2 - 9*0.55) + 9*0.55
# line 713: 1 bus 7.20-16.40 with 9*0.40 pause
l713 = (9.3 - 9*0.6 ) + 9*0.6
# line 771: 6.30-7.30 + 13.45-16.35 (2x0.50 pause)
l771 = (1 + 2.8 - 1.6) + 1.6 
# line 773: 6.40-7.32 + 13.40-16.30 (2x0.50 pause)
l773 = (0.85 + 2.8 - 1.6) + 1.6
# line 778: 6.55-7.45 + 14.15-16.30
l778 = (0.83 + 2.25)
# line 717: 1 bus 6-9 + 13-16
l717 = (3 + 3)

In [48]:
l719 + l711 + l713 + l714 + l715 + l716 + l718 + l773 + l774 + l778 + l791 + l792 + l780 + l717

177.61